<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Evangeler Affiliate Marketing Sites List</title>
    <meta name="description"
        content="Evangeler top list of affiliate marketing sites helps you to grow in your influencing journey, Browse top Affiliate Marketing Programs easily Free.">
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="canonical" href="https://evangeler.com">

    <link rel="shortcut icon" href="{{ static_url }}/img/evangeler-logo-144.webp" type="image/x-icon" />
    <link rel="icon" href="{{ static_url }}/img/evangeler-logo-144.webp" />

    <link rel="apple-touch-icon" sizes="72x72" href="{{ static_url }}/img/evangeler-logo-72.webp" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ static_url }}/img/evangeler-logo-114.webp" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ static_url }}/img/evangeler-logo-144.webp" />
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">

                <a href="/">
                    <img src="{{ static_url }}/img/evangeler-logo-144.webp" alt="Evangeler Logo" width="144"
                        height="144">
                </a>
            </div>

            <h1>Evangeler Affiliate Marketing Sites List</h1>

            <p>Evangeler top list of affiliate marketing sites helps you to grow in your influencing journey, Browse top
                Affiliate Marketing Programs easily Free.</p>

            <a href="/submit" class="button">Submit a New Affiliate Site Free</a>

            <form action="/search" method="get">
                <input type="text" name="query" placeholder="Search affiliates">
                <button type="submit">Search</button>
            </form>
        </div>
    </header>


    <div class="container">
        <div class="content">
            <div class="content__main">
                <table>
                    <tr>
                        <th>Logo</th>
                        <th>Brand</th>
                        <th>Description</th>
                        <th>Keywords</th>
                    </tr>
                    <tr>
                        
                        <td>
                            <img title="Netwrck.com"
                                src="https://static.netwrck.com/static/img/ms-touch-icon-144x144-precomposed.webp"
                                width="144" height="144" alt="Netwrck AI Chat Characters">
                        </td>
                        <td>
                            <a href="https://netwrck.tolt.io" target="_blank">Netwrck AI Chat/AI Art Affiliates</a>
                        </td>

                        <td>
                            <p>Netwrck is an AI chat and art generator. A Social Network for AI and Humans.
                            
                                <br>
                                <a href="https://netwrck.tolt.io" target="_blank">40% lifetime revenue share for Affiliates</a>
                            </p>
                        </td>
                        <td>
                            <p>AI, Chat, Art, New</p>
                        </td>
                    </tr>
                    {% for site in affiliates %}
                    <tr>
                        <td>
                            <img title="{{ site.brand }}" src="{{ static_url }}/evimg/{{ site.brand }}.webp"
                                alt="{{ site.brand }}"
                                {% if loop.index > 5 %} loading="lazy" {% endif %} width="100" height="100"
                                >
                        </td>
                        <td>
                            <a href="/affiliate/{{ site.slug }}">{{ site.brand }}</a>
                            <br>
                            <a href="{{ site.website }}" target="_blank">Visit Site</a>
                        </td>

                        <td>
                            <p>{{ site.description }}</p>
                        </td>
                        <td>
                            <p>{{ site.keywords }}</p>
                        </td>

                    </tr>
                    {% endfor %}

                    </td>
                </table>
            </div>
        </div>
        <footer>
            <a href="/sitemap">Sitemap</a>
        </footer>

</html>